@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Roboto Mono', monospace;
    color: #2c3e50;
    background-color: #bdc3c7;
    display: flex;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
}

#navbar {
    border-right: 4px solid #2c3e50;
    margin-right: 1rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100vh;
  }

#navbar header {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    font-weight: 500;
    border-bottom: 2px solid #2c3e50;
    padding: 1rem;

}

#navbar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1rem;
}

#navbar ul li {
    padding: 1rem;
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
}

#navbar ul li:last-child {
    border-bottom: transparent;
}

#main-doc {
    font-size: 1rem;
}

.main-section {
    line-height: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.main-section header {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.main-section p {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.main-section li {
    margin-left: 5rem;
    margin-bottom: 1rem;

}

code {
    display: block;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #7f8c8d;
    color: #34495e;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #2c3e50;
}

@media (max-width: 1400px) {
    body {
    flex-direction: column;
}
    #navbar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 20%;
  }

}

