* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #333;
    text-rendering: optimizeLegibility;
}

a:link,
a:visited {
    text-decoration: none;
}

#main {
    margin: 2rem 1rem;
    padding: .5rem;
    background-color: #b5b5b5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

#image {
    max-width: 100%;
    height: auto;
}
